*{margin: 0;padding: 0;box-sizing: border-box;}
body{
  overflow-x:hidden;
}

.container{
    
        background:url("/images/desktop/image-header.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
}

.header,.navbar{
    padding:2rem;
    display: flex;
    flex-direction:row;
    gap:40rem;
    color:white;
}
.navbar-list{
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    gap:5rem;
    color:white;
   
}
.navbar-list-items:hover{
    text-decoration: underline 2px solid white;
}
.brand{
   font-size: 2rem;
}


button[type="submit"]{
    outline:none;
    /* border:none; */
    border:1px solid white;
    padding: 2rem;
    background:white;
    margin-top: -2rem;
    /* color: white; */
    border-radius: 1.4rem;
    font-size: 1.2rem;
}
button[type="submit"]:hover{
    background:none;
    color: white;

}

h1{
   color:White; 
    /* text-align: nter; */
    margin-left: 29rem;
    font-size: 3rem;
    padding:1rem 0rem;
}

.col1,.col2,.subgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-direction: row; */
    padding:0rem 2rem;

}
.col1>.img-section{
    background:url("/images/desktop/image-transform.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 47.5vw;
    order:2;
}
.col1>.text-section{
    padding:5rem;
    text-align: center;
    margin:5rem;
    color:#818498;  
}
.text-section>h2{
    color:#23303E;
    font-weight: 900;
}
a{
    text-decoration: underline .4rem solid yellow;
    color:#23303E;
    font-weight: 700;

}
.col2>.img-section{
    background:url("/images/desktop/image-stand-out.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 47.5vw;
}

.col2>.text-section{
    padding:5rem;
    text-align: center;
    margin:5rem;
    color:#818498;  
}
.col2>.text-section>a{
   
    text-decoration: underline 0.4rem solid #FEBBB3;
}
.col3{
    background:url("/images/desktop/image-graphic-design.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 47.5vw;
    color:#27594E;
    
}
.col4{
    background:url("/images/desktop/image-photography.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 47.5vw;
    color:#19536B;
    
}
.col3>.text-section,.col4>.text-section{
    margin:20rem 0rem;
    text-align: center;
    padding: 0rem 5rem;
}
.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20rem;
}
.testimonial{
    
   text-align: center;
   margin-bottom: 8rem;
}
h2{
    font-size: 3rem;
    padding: 1rem 0rem;
    color:#A7ABAE;
}
.review1,.review2,.review3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0rem 2rem;
    margin: 2rem 0rem;
    color:#23303E;
}
.review1>img,.review2>img,.review3>img{
    width: 10vw;
    border-radius: 50%;
    
}
h3{
    margin-top: -1rem;
    color:#A7ABAE;
}

.review1>p,.review2>p,.review3>p{
    color:#5A636C;
    /* padding:0rem 2rem; */
    padding:2rem 0rem;
}


.img-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-grid>img{
    width: 25vw;
}
footer{
    display: flex;
    color:#27594E;
    background:#91D4C6; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-menu,.social-links{
    display: flex;
    flex-direction: row;
    gap:5rem;
    padding:2rem 0rem;
    list-style: none;
    align-content: center;
}
footer>h2{color:#27594E;}

@media only screen and (max-width:480px){
    body{
        width: 100vw;
    }
    .container{
        background:url("/images/mobile/image-header.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 110vh;
    }
    .header{
        flex-direction: column;
        gap:2rem;
        padding:.5rem;
    }
    .navbar-list{
        display: none;
    }
    .navbar-list.active{
        flex-direction: column;
        background-color: white;
        width: 25rem;
        padding: .2rem;
        margin-top: -4rem;
        color:#5A636C;
        padding:0rem 2rem;
        text-align: center;
        display: block;
        /* height:30rem; */
    }
    .navbar-list-items{
        padding:2rem 0rem;
    }
    button[type="submit"]{
        background:yellow;
        color:#5A636C
    }
    .hamburger-menu{
        height: 2rem;
        position: absolute;
        top:3.2rem;
        right:2.8rem;
    }
    #menu:before {
        content: "";
        position:absolute;
        top: 4.6rem;
        right: 2.5rem;
        height:40px;
        width: 90px;
        border-bottom-right-radius: 50%;
        /* background:#000; */
        box-shadow: 0 20px 0 0 white;
      }
    h1{
        text-align: center;
        margin-left: -1rem;
    }
    .col1,.col2,.subgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding:0rem;
        margin: 2rem 0rem;
    }
    .col1>.text-section,.col2>.text-section{
      order:2;
      margin:0rem;
      padding:0rem 2rem;
    }
    .col1>.img-section,.col3,.col4{
       
        background:url("images/mobile/image-transform.jpg") no-repeat;
        background-size:cover;
        background-position: center;
        height: 75vh;
        width: 100vw;
    }
    .col2>.img-section{
       
        background:url("images/mobile/image-stand-out.jpg") no-repeat;
        background-size:cover;
        background-position: center;
        height: 75vh;
        width: 100vw;

    }
    .subgrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100vw;
    }

    .col3{

        background: url("images/mobile/image-graphic-design.jpg") no-repeat;
        background-size:cover;
        background-position: center;
        
    }
    .col4{
        background: url("images/mobile/image-photography.jpg") no-repeat;
        background-size:cover;
        background-position: center;

    }
    .col3>.text-section,.col4>.text-section{
        margin:5rem 0rem;
        text-align: center;
        padding: 0rem 2rem;
    }
    .testimonails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .testimonial{
        margin-bottom: 32rem;
    }
    .grid-box{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
    
    }
    .review1,.review2,.review3{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0rem 2rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        
    }
    .review1>img,.review2>img,.review3>img{
        width: 25vw;
        border-radius: 50%;
    }
    .img-grid{
        margin-top: 60rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .img-grid>img{
        width: 50vw;
    }
    
    
}
