@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&=Fraunces:ital,wght@0,700;0,900;1,900&display=swap');
;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}
body{
    overflow-x: hidden;
    color:White;
}
.container{
    // display: grid;
    // grid-template:1fr/1fr;  
    display: flex;
    flex-flow:column wrap;
    .nav{
        background:url("/images/desktop/image-header.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width:100vw;
        padding:1.5rem;
        
        display: flex;
        flex-direction: row;
        gap:45rem;
        h2{
            padding:1.5rem;
            font: 900 1.4rem "Fraunces",sans-serif;
            @media(max-width:375px){
                padding:.5rem;
            }

        }

        @media(max-width:375px){
            background: url("/images/mobile/image-header.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width:100vw;
            padding:1rem;
        }
        .navbar{
            cursor: pointer;
            padding:2rem;
            font: 700 1.2rem "Barlow",sans-serif;
            .navbar-list{
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: repeat(4,minmax(5rem,2fr));    
                grid-template-columns: repeat(4,minmax(5rem,2fr));
                list-style-type: none;
                
                .navbar-list-items{
                    button{
                        all:reset;
                        padding:1.5rem;
                        color:white;
                        cursor: pointer;
                        background: none;
                        margin-top: -1.5rem;
                        border: .1px solid white;
                        border-radius:2rem;
                        font: 600 1rem "Barlow",sans-serif;
                            
                    }
                    :hover{background: white;color:#00ccff;}

                }
                :hover{
                    text-decoration: underline 2px solid white;
                }
                

            }    
        }

    }  
    .header{
      
        color:White;
        padding: 2rem;
        font: 900 2.4rem "Fraunces",sans-serif ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3rem;
        margin: 3rem auto;
    
        

        
    }  
}

.main{

}